{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="register-container">
        <div class="register">
            <h2>Регистрация</h2>
            <form method="post">
                <div class="form-row">
                    <label for="id_first_name">Имя:</label>
                </div>
                <div class="form-row">
                    {{ user_form.first_name }}
                </div>
                <div class="form-row">
                    <label for="id_last_name">Фамилия:</label>
                </div>
                <div class="form-row">
                    {{ user_form.last_name }}
                </div>
                <div class="form-row">
                    <label for="id_email">Email:</label>
                </div>
                <div class="form-row">
                    {{ user_form.email }}
                </div>
                <div class="form-row">
                    <label for="id_username">Логин:</label>
                </div>
                <div class="form-row">
                    {{ user_form.username }}
                </div>
                <div class="form-row">
                    <label for="id_password">Пароль:</label>
                </div>
                <div class="form-row">
                    {{ user_form.password }}
                </div>
                <div class="form-row">
                    <label for="id_password2">Повторите пароль:</label>
                </div>
                <div class="form-row">
                    {{ user_form.password2 }}
                </div>
                {% csrf_token %}
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>

{% endblock %}