{% extends 'base.html' %}
{% load static %}

{% block title %}Потребленные продукты{% endblock %}

{% block content %}

    <div class="centered">
        <h1>Потребленные продукты</h1>
    </div>

    {% if user_cart %}
        <div class="cart-cnt">
            {% if cart_item %}
                <div class="cart-items">
                    {% for item in cart_item %}
                        <div class="item-cnt">
                            <div class="item-info">
                                {{ item.product.name }}: {{ item.quantity }} г.
                            </div>
                            <div class="block2">
                                <img src="{% static 'images/plus.png' %}" alt="Добавить" class="openPopup"
                                     data-product-id="{{ item.product.id }}">
                            </div>

                            <div class="block2">
                                <img src="{% static 'images/minus.png' %}" alt="Убрать" class="openPopupRemove"
                                     data-product-id="{{ item.product.id }}">
                            </div>
                        </div>
                        
                        <div class="popup-background" id="popup-background_{{ item.product.id }}"></div>
                        
                        <!-- Всплывающее окно для каждого продукта -->
                        <div id="popup_{{ item.product.id }}" class="popup">
                            <div class="full-add-cnt">
                                <div class="add-container">
                                    <h2>Добавить {{ item.product.name }}?</h2>
                                </div>
                                <div class="btn">
                                    <img class="closePopup" data-product-id="{{ item.product.id }}"
                                         src="{% static 'images/cross.png' %}"
                                         alt="Close">
                                </div>
                            </div>
                            <form id="addToCartForm_{{ item.product.id }}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                {{ form.quantity }}
                                <button type="submit">Добавить</button>
                            </form>
                        </div>
                        
                        <!-- Всплывающее окно для каждого продукта -->
                        <div id="removePopup_{{ item.product.id }}" class="popup">
                            <div class="full-remove-cnt">
                                <div class="remove-container">
                                    <h2>Убрать {{ item.product.name }}?</h2>
                                </div>
                                <div class="btn">
                                    <img class="closePopupRemove" data-product-id="{{ item.product.id }}"
                                         src="{% static 'images/cross.png' %}"
                                         alt="Close">
                                </div>
                            </div>
                            <form id="removeFromCartForm_{{ item.product.id }}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                <input type="hidden" name="action" value="remove">
                                <button type="submit">Убрать</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="advice">
                <div class="advice-text">
                    <i class="fas fa-info-circle"></i>
                    Сбалансированное питание - залог здоровья. Стремитесь к тому, чтобы в вашем рационе углеводы, белки
                    и жиры были в соотношении 3:1:1.
                </div>
            </div>

            <div class="totals">
                <div class="totals-title">Всего потреблено:</div>
                <div class="total-kcal">{{ user_cart.total_calories }} ккал</div>

                <div class="total-protein">Белков: {{ user_cart.total_protein }} г</div>
                <div class="total-lipids">Жиров: {{ user_cart.total_lipids }} г</div>
                <div class="total-carbohydrates">Углеводов: {{ user_cart.total_carbohydrates }} г</div>
                <div class="total-water">Воды: {{ user_cart.total_water }} мл</div>
            </div>
        </div>
    {% else %}
        <div class="centered">
            <h1>У вас тут пусто!</h1>
        </div>
    {% endif %}



{% endblock %}