{% extends 'base.html' %}
{% load static %}

{% block title %}Продукты{% endblock %}

{% block content %}

    <div class="centered">
        <h1>Список продуктов</h1>
    </div>
    <div class="mt10"></div>

    {% for product in products %}
        <div class="product">
            <div class="product-container">
                <div class="block1">
                    <div class="product-block">
                        <h3>{{ product.name }}</h3>
                    </div>
                    <div class="product-block">
                        <h3>Калорийность: {{ product.calories }} ккал</h3>
                        <h3>Белки: {{ product.protein }} г.</h3>
                        <h3>Жиры: {{ product.lipids }} г.</h3>
                        <h3>Углеводы: {{ product.carbohydrates }} г.</h3>
                        {% if product.water %}
                            <h3>Вода: {{ product.water }} г.</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="img-cnt">
                    <div class="image-container">
                        <img src="{{ product.img.url }}" alt="photo">
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="block2">
                        <img src="{% static 'images/plus.png' %}" alt="Добавить" class="openPopup"
                             data-product-id="{{ product.id }}">
                    </div>
                {% endif %}
            </div>

            <div class="popup-background" id="popup-background_{{ product.id }}"></div>

            <!-- Всплывающее окно для каждого продукта -->
            <div id="popup_{{ product.id }}" class="popup">
                <div class="full-add-cnt">
                    <div class="add-container">
                        <h2>Добавить {{ product.name }}?</h2>
                    </div>
                    <div class="btn">
                        <img class="closePopup" data-product-id="{{ product.id }}"
                             src="{% static 'images/cross.png' %}"
                             alt="Close">
                    </div>
                </div>
                <form id="addToCartForm_{{ product.id }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {{ form.quantity }}
                    <button type="submit">Добавить</button>
                </form>
            </div>
        </div>
    {% endfor %}


{% endblock %}