{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Список продуктов</h2>
    {% for product in products %}
        <div class="product">
            <div class="product-container">
                <div class="block1">
                    <div class="product-block">
                        <h3>{{ product.name }}</h3>
                    </div>
                    <div class="product-block">
                        <h3>Калорийность: {{ product.calories }} ккал</h3>
                        <h3>Белки: {{ product.protein }} г.</h3>
                        <h3>Жиры: {{ product.lipids }} г.</h3>
                        <h3>Углеводы: {{ product.carbohydrates }} г.</h3>
                        {% if product.water %}
                            <h3>Вода: {{ product.water }} г.</h3>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="block2">
                        <button class="openPopup" data-product-id="{{ product.id }}">Добавить</button>
                    </div>
                {% endif %}
            </div>

            <!-- Всплывающее окно для каждого продукта -->
            <div id="popup_{{ product.id }}" class="popup">
                <h2>Add {{ product.name }} to Cart</h2>
                <form id="addToCartForm_{{ product.id }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {{ form.quantity }}
                    <button type="submit">Add to Cart</button>
                    <button class="closePopup" data-product-id="{{ product.id }}" type="button">Close</button>
                </form>
            </div>


        </div>
    {% endfor %}


{% endblock %}